body{
    background-color: black;
    color:rgb(255, 255, 255);
    margin: 5px;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 100px;
}
header{
    border-bottom: solid 2px rgb(56, 101, 147);
    padding : 20px;
    font-size: 42px;
}
.txt{
    background:rgb(41, 72, 83);(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.texto{
    margin-right: 20px;
}

.horror {
    display: flex;
    overflow-x: auto;
    gap: 15px;
}

.horror2 {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    
}
.horror img  {
   opacity: 0.2;
   height: 250;
}

.horror img:hover  {
opacity: 10.0 ;
border: 1px solid rgb(255, 255, 255)

}
.horror2 h2{
color: rgb(42, 122, 228);


}

